{
  "channelBufferSize": 512,
  "chainSync": {
    "startingPoint": {
      "Specific": [
        124547756,
        "0f72608fdbb571e0b64509008ae48fa11da5b3621b979dacf83cdb659ae8efea"
      ]
    },
    "replayFromPoint": {
      "Specific": [
        124547756,
        "0f72608fdbb571e0b64509008ae48fa11da5b3621b979dacf83cdb659ae8efea"
      ]
    },
    "disableRollbacksUntil": 124488980,
    "dbPath": "state"
  },
  "node": {
    "path": "/Users/aleksandr/node-external/node.socket",
    "magic": 764824073
  },
  "txSubmissionBufferSize": 64,
  "backlogCapacity": 512,
  "networkId": 1,
  "cardanoFinalizationDelay": {
    "secs": 120,
    "nanos": 0
  },
  "operatorKey": "xprv1qprxrmplgjy226yzzppsgpx8tq8rf0fyp4zd4pzdwyzzp38xh4w4xr653v4nzpxhnllp9s6kd6u5ngaq7uvvcavj2gnx39g7ztkefxjcqhy7de9dp6026h0wy4uj8j7w6qw2g2jvhkjkkqdehe4feaj3hsxvhyjs",
  "operatorRewardAddress": "addr1vyte0ygfyzwj2kghhptr68js5klgzg74u2plh3hmkpz4p3sp9twfp",
  "maestroKeyPath": "/Users/aleksandr/IdeaProjects/spectrum-offchain-multiplatform/bloom-cardano-agent/resources/maestro.key",
  "executionCap": {
    "soft": {
      "mem": 5000000,
      "steps": 4000000000
    },
    "hard": {
      "mem": 14000000,
      "steps": 10000000000
    }
  },
  "mempoolBufferingDuration": {
    "secs": 1,
    "nanos": 0
  },
  "ledgerBufferingDuration": {
    "secs": 0,
    "nanos": 50000
  },
  "partitioning": {
    "numPartitionsTotal": 1,
    "ownPartitionIndex": 0
  }
}
