{
  "limitOrder": {
    "minCostPerExStep": 600000,
    "minFeeLovelace": 0
  },
  "depositOrder": {
    "minCollateralAda": 1500000
  },
  "redeemOrder": {
    "minCollateralAda": 1500000
  },
  "pool": {
    "minN2tLovelace": 150000000,
    "minT2tLovelace": 10000000
  }
}