{
  "chainSync": {
    "startingPoint": {
      "Specific": [
        122422297,
        "62629dcb0f7708eea1efcbf94229ce95adde99e95fa3cc53bd0177e3254727e4"
      ]
    },
    "replayFromPoint": {
      "Specific": [
        122422297,
        "62629dcb0f7708eea1efcbf94229ce95adde99e95fa3cc53bd0177e3254727e4"
      ]
    },
    "disableRollbacksUntil": 122422297,
    "dbPath": "state"
  },
  "node": {
    "path": "/data/cardano-node/ipc/node.socket",
    "magic": 764824073
  },
  "networkId": 1,
  "explorer": {
    "maestroKeyPath": "bloom-cardano-agent/resources/maestro.key"
  }
  "utxoIndexDbPath": "index/utxo",
  "accountsDbPath": "index/accounts",
  "gaugesDbPath": "index/gauges",
  "harvestOrdersDbPath": "index/harvest",
  "confirmationDelayBlocks": 6,
  "bootstrapServers": "0.0.0.0:19094",
  "eventsExportTopic": "events_export",
}
